.navbar {
  display: flex;
  justify-content: space-around;
  background-color: #eaeaea;
  font-size: 2rem;
}

.todos-container {
  width: 700px;
  margin: 100px auto;
  padding: 1rem;
  border: 2px solid #000;
  border-radius: 14px;
}

.todos-input {
  display: flex;
  justify-content: center;
}

.todos-input input, button {
  padding: .5rem;
}

.todo {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

.remove {
  color: red;
  cursor: pointer;
}